BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
FixNamespaceComments: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
SpaceBeforeParens: ControlStatements
ColumnLimit: 0
# AlignConsecutiveDeclarations: true
# AlignConsecutiveAssignments: true
# AlignConsecutiveBitFields: true
# IndentCaseLabels: true
